@mixin breakpoint($point) {
  @if $point == md {
      // 768px
      @media (min-width: 48em) {
          @content;
      }
  }
}
.section-dark {
    background: #000;
    color: white;
}

.projeto-content {
  max-width: 1000px !important;
  margin: auto;
  padding: 70px 50px;

}
.projetosGrid{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 188px 188px;
  grid-template-rows: 260px 260px 260px 260px;
  @include breakpoint(md){
    grid-template-columns: repeat(auto-fit, minmax(14rem, 15rem));
    grid-template-rows: auto;
    gap: 40px;

  }
}
