@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

.texto{
    margin: 3rem 30px 2rem 30px;
    text-align: center;
    @include breakpoint(md) {
        margin-top: 5rem;
        margin-left: 3rem;
}
}
.texto img{
    display: relative;
    width: 65%;
    position: absolute;
    margin: 40px auto;
    left: 80px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 4px solid white;
    @include breakpoint(md){
        display: none;
    }
}


.texto h1{
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
    font: bold;
    color: var(--branco);
    @include breakpoint(md){
        font-size: 5.8vmax;
        font-family: 'Raleway', sans-serif;
        font: bold;
        color: var(--branco);
    }
}
.texto p{
    font-size: 1em;
    color: var(--branco);
    @include breakpoint(md){
        font-size: 2vmax;
        color: var(--branco);
    }
}

.imagem img{
    display: none;
    @include breakpoint(md){
        display: inline-block;
        position: absolute;
        top: 110px;
        right:0;
        width: 57%;
        height: 70%;
        border-bottom-left-radius: 60%;
        z-index: 2;
    }
}


.inicio-content {
    padding-top: 15px;
    height: 100vh;
    display: grid;
    align-items: center;
    @include breakpoint(md) {
        margin: auto;
        max-width: 1400px;
        height: 100vh;
        display: grid;
        grid-template-columns: 0.6fr 0.8fr;
        gap: 20vmax;
}

}

.butao-download{
    margin-top: 15px;
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 3px white solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.5s;
}
.butao-download:hover{
    @include breakpoint(md){
    transition: 1.5s;
    height: 70px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    }
}
.inicio-section{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
